/*css relativo all'header e alla navbar */

html{
  font-size: 15px;
}
  a {
    cursor: pointer;
    text-decoration: none; 
  }
  a.button {
    font-size: 0.8rem;
    padding: 10px 15px;
    border: 2px solid rgb(95, 64, 19);
    border-radius: 100px;
    text-decoration: none;
  }
  a.button:hover {
    background-color: maroon;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
  } 
  #links {
    font-family: 'Algerian', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
  }
  #links a {
    margin: 15px;
  }  
  #logo img{
    max-width: 70%;
    max-height: 70%;
  }
  header {
    color: darkred ;
    background-image: url(https://cgx3j41r03fwkmmdtoy3l6aq-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/conductor-768x512.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 73vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }
  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  header h1 {
    margin-top: 40px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    z-index: 1;
  }
  h1 a.button {
      margin-top: 10px;
      border-radius: 0;
      background-color: rgb(250, 250, 253);
  }
  h1 a.button:hover {
      background-color: rgba(207, 148, 21, 0.75);
      color:rgb(250, 250, 253);  
  }
  header h1 em {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
  header h1 strong {
    font-size: 4.3rem;
    letter-spacing: 4px;
    font-family: 'Algerian', sans-serif;
    font-style: normal;
    font-weight:bold;
    text-transform: uppercase;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    font-size: 0.9rem;
    padding: 20px;
    background-color: rgba(250, 173, 8, 0.733);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu {
    display: none;
  } 
  #menu div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }


/* sezione centrale*/
body {
  color: rgba(26, 26, 26, .7);
  font-family: 'times new roman', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  background-image: url("sfondo_body.png");
  background-size: cover;
  background-repeat: no-repeat;
}
  #contenuti{
    display: flex;
    align-items: flex-start;
    justify-content:space-between ;
    border: 2px solid black;
    padding: 20px;
    height: 70vh;
    width: 80vw;
  } 
   #contenuti div {
    width: calc(50% - 20px); 
  }
  #contenuti h1 {
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    letter-spacing: 2px;
    color: rgb(110, 11, 11);
    font-weight: normal; 
  }
  #contenuti h1 strong{
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family:'Eagle Lake', sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    color: rgb(110, 11, 11);
    font-weight: normal;
  }
  .flex-item img {
    width: 100%;
    height: 100%;
  }
  .flex-item {
    border-radius: 1px;
    background-color: rgba(245, 224, 39, 0.678);
    padding: 20px;
    margin: 10px;
    width: 19.2vw;
    height: 40vh;
    border: 2px solid rgb(128, 13, 13);
  }
  #contenuti2{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    justify-content:space-between ;
    border: 2px solid black;
    padding: 20px;
    height: 48vh;
    background-image: url("sfondo.png");
    background-size:cover;
  }
  .news{
    margin: 20px;
    background-image: url("https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    padding: 20px;
    height: 32vh;
    width: 48vh;
  }
  .news h1, .orientamento h1{
    font-family: 'Teko', sans-serif;
    font-style: italic;
    font-size: 1.8rem;
    color:rgb(255, 187, 0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .news h1 a, .orientamento h1 a{
    font-family: 'Teko', sans-serif;
    font-style: normal;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  .news h1 a:hover, .orientamento h1 a:hover{
    color:rgb(255, 255, 255);
    text-shadow: 10px 10px 20px rgb(0, 0, 0);
    background-color:  rgba(128, 0, 0, 0.493);
  }
  .orientamento{
    margin: 20px;
    background-image: url("https://images.pexels.com/photos/210854/pexels-photo-210854.jpeg?cs=srgb&dl=pexels-pixabay-210854.jpg&fm=jpg");
    background-size:cover ;   
    border: 2px solid black;
    padding: 20px;
    height: 32vh;
    width: 48vh;
  }
  a:visited{
    color: rgb(110, 11, 11);
  }
  a:hover {
    color: rgb(0, 0, 0);
    text-decoration:underline;
  }
  
  #main h1 {
    font-size: 1.75rem;
    font-weight: normal;
    color: rgba(26,26,26,.9);
  }
  section {
    margin: 50px 125px;
    text-align: center; 
  } 
  /* css relativo al footer*/
  footer {
  background-color: rgb(211, 150, 20);
  color: rgb(0, 0, 0);
  padding: 40px;
  text-align:center;
  font-family:'Merriweather', sans-serif;
  font-style: normal;
  font-size:1.2rem;
}
footer h1 {
  color: rgb(0, 0, 0);
  font-family:Impact,serif;
  font-style: normal;
  font-size: 2.5rem ;  
}
footer img {
    max-width: 80%;
    max-height: 20px;
}
footer p {
  color: rgba(255, 255, 255, .4);
  text-align:left;
  font-family: 'Lucinda sans', sans-serif;;
  font-style:italic;
  font-size:1rem;
}
footer a.button_footer:visited{
  color: rgb(255, 255, 255, .4);
  padding: 10px 15px;
}
footer a.button_footer:hover {
  border-radius: 1px;
  background-color: rgba(196, 40, 40, 0.404);
  color: black;
  text-decoration: none;
}

/* adattamento per telefono*/

@media (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }
  #logo {
  max-width: 10%;
  max-height: 10%;
  }
  #contenuti {
    flex-direction: column;
    align-items:center;
    border:none;
  }
  .flex-item  img{
    width: 100%;
    height: 60%;
  }
  .flex-item {
    height:  30%;
    width: 100%;
    margin:0px;
    padding: 0px;
    font-size: 0.35rem; 
  }
 h1{
   margin-top: 0%;
   
 }
  #contenuti2 {
    background-image: url("https://images.pexels.com/photos/697672/pexels-photo-697672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center; 
  } 
  .news, .orientamento  {
    background-image: url("https://images.pexels.com/photos/534283/pexels-photo-534283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    height:  16vh;
    width: 44.8vw;
    margin:20px;
  }
    .news h1, .orientamento h1{
      font-size: 1rem;
      text-align:center;
    }
  header {
    height: 64vh;
    line-height: 1.2;
  }
  h1 a.button {
    padding: 8px;
    font-size: 0.8em ;
  }
  header h1 em {
    font-size: 1.5em;
    letter-spacing: 4px;
  }
  header h1 strong {
    font-size: 2.5em;
    letter-spacing: 4px;
  }
  #links {
    display: none;
  }
  #menu {
    display: block;
  }
  section {
    margin: 50px 10px;
  }
}

/*adattamento per tablet*/
@media (min-width: 601px) and (max-width: 1600){
  body {
    font-size: 1rem;
  }
  #logo {
  max-width: 10%;
  max-height: 10%;
  }
  #contenuti {
    flex-direction: column;
    align-items:center;
    border:none;
  }
  .flex-item  img{
    width: 100%;
    height: 60%;
  }
  .flex-item {
    height:  40%;
    width: 100%;
    margin:0px;
    padding: 0px;
    font-size: 0.4rem;
  }
 h1{
   margin-top: 0%;
 }
  #contenuti2 {
    background-image: url("https://images.pexels.com/photos/697672/pexels-photo-697672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
  } 
  .news, .orientamento  {
    background-image: url("https://images.pexels.com/photos/534283/pexels-photo-534283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    height:  16vh;
    width: 44.8vw;
    margin:20px;
  }
    .news h1, .orientamento h1{
      font-size: 1rem;
      text-align:center;
    }
  header {
    height: 64vh;
    line-height: 1.2;
  }
  h1 a.button {
    padding: 8px;
    font-size: 0.8em ;
  }
  header h1 em {
    font-size: 1.8em;
    letter-spacing: 4px;
  }
  header h1 strong {
    font-size: 2.3em;
    letter-spacing: 4px;
  }
  #links {
    display: none;
  }
  #menu {
    display: block;
  }
  section {
    margin: 50px 10px;
  }
}